.navbar ul li a {
  color: white;
  margin: 10px 0px 0px 10px;
  text-transform: uppercase;
}

.single_slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_bg_1 {
  background-image: url("../img/Landing_1.png");
}

.boxed-btn3 {
  background: #f261ff;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn3:hover {
  border: 1px solid #f261ff;
  color: #f261ff !important;
  background: transparent;
}

.title-landing {
  font-size: 63px;
  color: #002151;
}

.subtitle-landing {
  color: #002151;
  margin-top: -5px;
  font-size: 1.08em;
}
